h3 {
    text-align: center;
  }
  
  .main {
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .container-1 {
    width: 50px;
    height: 500px;
    background-color: rgb(93, 36, 119);
    line-height: 96em;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 10px;
    border-bottom: 2px solid white;
  }
  
  .container-2 {
    width: 50px;
    height: 500px;
    background-color: rgb(112, 45, 118);
    line-height: 96em;
    text-align: center;
    font-weight: bold;
    color: white; 
    font-size: 10px;
  }
  
  .container-3 {
    width: 50px;
    height: 500px;
    background-color: rgb(138, 58, 117);
    line-height: 96em;
    text-align: center;
    font-weight: bold;
    color: white; 
    font-size: 10px;
    text-decoration: underline;
  }
  
  .container-4 {
    width: 50px;
    height: 500px;
    background-color: rgb(164, 72, 117);
    line-height: 96em;
    text-align: center;
    font-weight: bold;
    color: white; 
    font-size: 10px;
  }
  
  .container-5 {
    width: 50px;
    height: 500px;
    background-color: rgb(186, 83, 116);
    line-height: 96em;
    text-align: center;
    font-weight: bold;
    color: white; 
    font-size: 10px;
    text-decoration: underline;
  }
  
  .container-6 {
    width: 50px;
    height: 500px;
    background-color: rgb(211, 96, 117);
    line-height: 96em;
    text-align: center;
    font-weight: bold;
    color: white; 
    font-size: 10px;
  }

  .container-7 {
    width: 50px;
    height: 500px;
    background-color: rgb(233, 107, 115);
    line-height: 96em;
    text-align: center;
    font-weight: bold;
    color: white; 
    font-size: 10px;
    text-decoration: underline;
  }
  
  .container-8 {
    width: 50px;
    height: 500px;
    background-color: rgb(237, 124, 117);
    line-height: 96em;
    text-align: center;
    font-weight: bold;
    color: white; 
    font-size: 10px;
  }
  
  .container-9 {
    width: 50px;
    height: 500px;
    background-color: rgb(241, 140, 115);
    line-height: 96em;
    text-align: center;
    font-weight: bold;
    color: white; 
    font-size: 10px;
  }
  
  .container-10 {
    width: 50px;
    height: 500px;
    background-color: rgb(245, 157, 112);
    line-height: 96em;
    text-align: center;
    font-weight: bold;
    color: white; 
    font-size: 10px;
  }

  .container-11 {
    width: 50px;
    height: 500px;
    background-color: rgb(249, 175, 113);
    line-height: 96em;
    text-align: center;
    font-weight: bold;
    color: white; 
    font-size: 10px;
  }
  
  .container-12 {
    width: 50px;
    height: 500px;
    background-color: rgb(253, 190, 114);
    line-height: 96em;
    text-align: center;
    font-weight: bold;
    color: white; 
    font-size: 10px;
  }
  
  .container-13 {
    width: 50px;
    height: 500px;
    background-color: rgb(250, 200, 138);
    line-height: 96em;
    text-align: center;
    font-weight: bold;
    color: white; 
    font-size: 10px;
  }
  
  .container-14 {
    width: 50px;
    height: 500px;
    background-color: rgb(255, 225, 185);
    line-height: 96em;
    text-align: center;
    font-weight: bold;
    color: white; 
    font-size: 10px;
  }